@use "_fonts" as fonts
@use "_colors" as colors

%main-title
    font-size: 1.8rem
    font-family: fonts.$lobster

%subtitle
    font-size: 1.5rem
    font-family: fonts.$lobster
    text-align: center

%title-5
    font-size: 1.1rem
    font-family: fonts.$lobster
    color: #000

%title-6
    font-size: 1.2rem
    font-family: fonts.$lobster
    color: #000

%paragraph
    font-size: 1rem
    font-family: fonts.$rubik
    text-align: justify
    margin-top: 30px
