@use "../utils/_utils" as utils

.header
    border-bottom: solid 2px utils.$myYellow

//ANIMATION LOGO
.logo__title:hover
    cursor: pointer
    transform: rotateX(360deg)
    transition: transform 2s ease-in-out

// ANMATION NAV
.nav-item a:hover
    font-weight: 700
    text-decoration: underline
    text-decoration-color: utils.$myYellow
    transform-origin: 0 0
    transform: rotate(10deg)
    transition: transform 250ms ease-in-out
